Some important state changes don't require a poll

> This document proposes that only BFD control packets that signal a state change, a demand mode change (to D bit) or a poll sequence change (P or F bit change) in a BFD control packet be categorized as a significant change.

Several parameter changes do not require poll sequences. RFC 5880, §6.8.10 - 6.8.14.

We don't want to let this get done using the optimized packets.

This means two things need to happen in the document:
1. Be clearer about this in the sentence above.
2. Basically say that the contents of an Up packet MUST NOT change aside from an authentication section without stronger authentication.

